body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.text {
  padding-top: 20px;
}

header {
  background-color: #E8DA06;
  color: #000000;
  padding: 20px;
  text-align: center;
}

header h1 {
  margin: 0;
  font-size: 28px;
}

main {
  margin: 20px;
}

.contenido {
  margin-bottom: 30px;
}

.contenido h2 {
  font-size: 24px;
  margin: 0;
}

.contenido h3 {
  font-size: 18px;
  margin: 0 0 10px;
}

hr {
  border: none;
  border-top: 1px solid #000000;
  margin: 10px 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

button {
  background-color: #E8DA06;
  color: #000000;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
}

.desplegado {
  display: none;
}

.desplegado{
  margin: 0;
  padding: 10px;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.desplegado.show {
  display: block;
}

    body {
        background-image: url('Rayo-de-luz.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }